@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
        * {
           
            font-family: "Pretendard",serif;
            }
#p1{
    color: red;
    /* 취소선 */
    text-decoration : line-through;
    /* 밑줄 없이
    text-decoration : none; */


    }

#a {
    /* 밑줄 */
    
    text-decoration : underline;
    

}

input[type = checkbox]:checked + span{
    text-decoration : line-through;
    font-style: italic;
    
    
    color : red;
}

.pw-100{
    font-weight: 100;
    text-align: center;
}
.pw-200{
    font-weight: 200;
    text-align: right;
}
.pw-500{
    font-weight: 500;
    text-align: justify;
    border : 1px solid red;
    
}
.pw-2000{
    font-weight: 2000;
}

.fake-h1{
    font-size : 2em;

}
#spacing{
    letter-spacing:  1.cm;
}

.lh{
    line-height: 500%;
}

.middle{
    width: 500px;
    border :10px  solid red;
    /*height 와 lineheight
     의 값이 같으면 세로 가운데
      정렬이 가능*/
    height : 100px;
    line-height : 100px;
    text-align: center;
}